---
interface Props{
    tittle:string,
    descrip:string,
}
const {tittle, descrip} = Astro.props
---

    <div class="py-4 border-solid border-b-2 borderb-gray-300">
        <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold dark:text-gray-100">{tittle}</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" ><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <p
                class="text-neutral-500 dark:text-gray-300 mt-3 group-open:animate-fadeIn ">
                {descrip}
            </p>
        </details>
    </div>