---
interface Props{
    href:string,
    text:string,
}
const {href, text} = Astro.props
---
<li>
    <a href={href} class="duration-300 font-medium ease-linear ml-8 hover:text-primary py-5">
    {text}
    </a>
</li>