---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="Nosotros">
    <Container className="flex flex-col md:flex-row gap-10 ">
        <div class="max-w-md  lg:mx-0   flex-1 flex w-11/12 midmd:w-5/12 lg:w-8/12 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-red-200 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"./images/conocenos.webp"} alt="sobre nosotros" 
                width="1240" height="1385"
                class=" transform  scale-x-[-1] w-full left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex md:w-8/12 lg:w-8/12 flex-col">
            <Title>
                Conoce nuestra trayectoria
            </Title>
            <Paragraph className="mt-8">
                Desde el inicio de nuestro apasionante viaje, nos dimos cuenta de que la clave para el éxito radica en tener una brújula que nos guíe. Por eso, hemos establecido una Misión y Visión sólidas que nos han acompañado a lo largo de nuestro camino. Estos principios fundamentales nos han permitido navegar con éxito a través de las cambiantes corrientes del mundo empresarial, guiándonos hacia nuestros objetivos y manteniendo nuestra trayectoria en curso.
            </Paragraph>
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Somos una empresa mexicana la cual tiene como misión liderar la innovación tecnológica para facilitar tareas y transformar negocios. Nos esforzamos por desarrollar soluciones tecnológicas de vanguardia que aborden desafíos complejos y simplifiquen la vida de las personas. Impulsamos la eficiencia y conectividad en un mundo cada vez más digital ofreciendo productos y servicios de alta calidad que empoderen a nuestros clientes y socios a alcanzar sus objetivos con éxito." title="Misión">
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>                              
                    </span>
                    
                </Info>
               
                <Info description="Nuestra visión es ser lideres nacionales en la innovación impulsando un país mas conectado, sostenible y eficiente. Imaginamos un futuro en el que nuestras soluciones tecnológicas sean la base para un país mejor donde la información y la comunicación sean mas accesibles donde las empresas operen de manera más inteligente y ecológica, y donde las personas puedan vivir vidas mas enriquecedoras y conectadas gracias a la tecnología. Nos esforzamos por ser una fuerza motriz en la transformación digital, creando un impacto positivo en la sociedad y el medio ambiente a escala nacional." title="Visión">
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </span>
               
                </Info>
            </div>
        </div>
    </Container>
</section>


