---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section id="Proyectos">
    <Container className="space-y-24 ">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Empresas que han confiado en nosotros
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-2 sm:p-4 rounded-xl bg-body border border-box-border group">
                <a href="https://figragas.com" target="_blank" title="Ir la página web de Figragas"><img src="/logos/figralogo.svg" width="150"  alt="FigraGas logo" class=" bg-gray-100 p-2 rounded-xl h-12 sm:h-15 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-110 group-hover:shadow-md "></a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://labtlatlauquitepec.com/" target="_blank" title="Ir la página web de laboratorios Tlatlauquitepec"><img src="/logos/logoLab.webp"   alt="Laboratorios logo"  class=" w-36 ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-110 group-hover:shadow-lg rounded-xl"></a>
            </div>
        </div>
    </Container>
</section>