---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features" class="relative">
    <Container className="flex relative   lg:gap-12">
        
        <div class="flex-1 flex  lg:w-8/12 flex-col">
            <Title>
                ¿Por qué elegirnos para tu desarrollo de software?
            </Title>
            <Paragraph className="mt-8">
                Nos dedicamos obsesivamente a alcanzar la excelencia en el desarrollo de software. Nos enorgullece afirmar que nuestras soluciones son verdaderamente únicas y sobresalientes. Descubre cómo nuestro compromiso con la calidad y la innovación puede beneficiar tu negocio.
                </Paragraph>

                <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                    <li>
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Experiencia y especialización en tecnologías de vanguardia.
                    </li>
                    <li>
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Enfoque en tus objetivos y desafíos para el desarrollo de software a medida.
                    </li>
                    <li>
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Constante innovación y actualización tecnológica en nuestras soluciones.
                    </li>
                    <li>
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Compromiso con la calidad y la seguridad en cada proyecto de desarrollo de software.
                    </li>
                    <li>
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Colaboración continua y resultados medibles para garantizar tu satisfacción.
                    </li>
                </ul>
                
            
        </div>

        <div class=" lg:w-5/12 ">
            <img src={"images/proquenosotros.webp"} alt="porque nostros imagen" 
                
                class="  w-full hidden lg:block  bottom-0" />
                <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 flex-1 flex w-11/12 midmd:w-5/12 lg:w-2/12 mid:h-auto">
                    <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                        <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                        <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                        
                        <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-orange-200 opacity-40 blur-2xl left-0 bottom-0"></span>
                        
                    </div>
                </div>
        </div>
        
    </Container>
</section>