---
import Devs from "../cards/Devs.astro";
import Title from "../shared/Title.astro";

---


<section class="w-full mt-10" id="Talent">
    <div class="text-center max-w-3xl mx-auto space-y-4 mb-9">
        <Title>
            Conoce nuestro talento
        </Title>
    </div>
    <div class="flex flex-row gap-6 justify-center items-center flex-wrap -m-4">
        <Devs />
    </div>
</section>