---

---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>
<body class=" max-h-screen max-w-screen bg-gray-900 overflow-hidden">
    <span class="absolute ringht-6 md:-right-5 top-2 lg:top-8 w-24 h-24 rotate-70 skew-x-12 rounded-3xl bg-orange-700 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
    <span class="absolute  md:bottom-4 bottom-24 lg:right-2 w-32 h-24 rotate-90 skew-x-12 rounded-3xl bg-orange-700 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
    <span class="absolute -bottom-6 md:bottom-4 left-24 lg:left-28 w-32 h-32 rotate-90 skew-x-12 rounded-3xl bg-orange-700 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
    <span class="absolute left-92 md:-left-92 top-92 lg:top-92 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-orange-700 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
    
    <section class="  text-white items-center justify-center flex flex-col mt-24 p-5 w-auto h-auto ">
        <img src="./images/this-is-fine-404.gif" alt="notfound" />
        <h2 class="font-bold text-3xl text-center p-3 : ">404 - Página no encontrada</h2>
        <a class=" font-semibold py-2 px-4 bg-orange-500 rounded-3xl shadow-sm hover:bg-orange-400 hover:text-gray-900 " href="index.astro"> Regresar al inicio</a>
    </section>    
</body>
</html>
